PORT=5000
FRONTEND_URL=http://localhost:5173,https://sivaranjani-portfolio-web.sivaranjani0626.workers.dev
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
PROFESSIONAL_EMAIL=
RESEND_FROM_EMAIL=
